body {
    background-color: #444444;
}
p {
    color: cyan;
}
#main:hover {
    background-color: blue;
}
#nav {
    background-color: #1f1f1f;
}

#frame{
    background-color: #44445b;
    width: 75vw ;
    aspect-ratio: 19/6;
    align-self: center;
}